.canvas {
    border: 1px black dotted;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  #canvas-draft {
 
  }
  body {

  }
  #canvas-container {
    height: 720px;
  }