/* Canvas Setting */

.canvas {
    /* border: 2px var(--Pink30) solid; */
    position: absolute;
    top: 8%;
    left: 148px;
}

#canvas-draft {
    background-color: transparent;
}

#canvas-container {
    height: 200px;
    position: relative;
}

/* Text input function */
#textInput {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: transparent;
    background-image: none;
    border: 1px dotted gray;
}


:root {
    --Black100: #0F0E0E;
    --Black70: rgba(15, 14, 14, 0.70);
    --Black50: rgba(15, 14, 14, 0.50);
    --Black30: rgba(15, 14, 14, 0.30);
    --White100: #F0EFF4;
    --White70: rgba(240, 239, 244, 0.70);
    --White50: rgba(240, 239, 244, 0.50);
    --White30: rgba(240, 239, 244, 0.30);
    --Pink100: #8C7284;
    --Pink70: rgba(140, 114, 132, 0.70);
    --Pink50: rgba(140, 114, 132, 0.50);
    --Pink30: rgba(140, 114, 132, 0.30);
    --Violet100: #7A6174;
    --Violet70: rgba(122, 97, 116, 0.70);
    --Violet50: rgba(122, 97, 116, 0.50);
    --Violet30: rgba(122, 97, 116, 0.30);
    --Orange100: #FC7A1E;
    --Orange70: rgba(252, 122, 30, 0.70);
    --Orange50: rgba(252, 122, 30, 0.50);
    --Orange30: rgba(252, 122, 30, 0.30);
}

/* Font */
h1 {
    font-family: 'SF Compact Rounded', sans-serif;
    font-size: 63px;
    font-style: normal;
    font-weight: 943;
    line-height: 120%;
}

h2 {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 47px;
    font-style: normal;
    font-weight: 943;
    line-height: 120%;
}

h3 {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 794;
    line-height: 120%;
}

p {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 794;
    line-height: 120%;
}

body {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 656;
    line-height: 120%;
}

.body1 {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 556;
    line-height: 120%;
}

footer {
    font-family: "SF Compact Rounded", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 556;
    line-height: 120%;
}

/* Color */
.black100 {
    color: var(--Black100);
}

.bg-black100 {
    background-color: var(--Black100);
}

.black70 {
    color: var(--Black70);
}

.bg-black70 {
    background-color: var(--Black70);
}

.black50 {
    color: var(--Black50);
}

.bg-black50 {
    background-color: var(--Black50)
}

.black30 {
    color: var(--Black30);
}

.bg-black30 {
    background-color: var(--Black30);
}

.white100 {
    color: var(--White100);
}

.bg-white100 {
    background-color: var(--White100);
}

.white70 {
    color: var(--White70);
}

.bg-white70 {
    background-color: var(--White70);
}

.white50 {
    color: var(--White50);
}

.bg-white50 {
    background-color: var(--White50);
}

.white30 {
    color: var(--White30);
}

.bg-white30 {
    background-color: var(--White30);
}

.pink100 {
    color: var(--Pink100);
}

.bg-pink100 {
    background-color: var(--Pink100);
}

.pink70 {
    color: var(--Pink70);
}

.bg-pink70 {
    background-color: var(--Pink70);
}

.pink50 {
    color: var(--Pink50);
}

.bg-pink50 {
    background-color: var(--Pink50);
}

.pink30 {
    color: var(--Pink30);
}

.bg-pink30 {
    background-color: var(--Pink30);
}

.violet100 {
    color: var(--Violet100);
}

.bg-violet100 {
    background-color: var(--Violet100);
}

.violet70 {
    color: var(--Violet70);
}

.bg-violet70 {
    background-color: var(--Violet70);
}

.violet50 {
    color: var(--Violet50);
}

.bg-violet50 {
    background-color: var(--Violet50);
}

.violet30 {
    color: var(--Violet30);
}

.bg-violet30 {
    background-color: var(--Violet30);
}

.orange100 {
    color: var(--Orange100);
}

.bg-orange100 {
    background-color: var(--Orange100);
}

.orange70 {
    color: var(--Orange70);
}

.bg-orange70 {
    background-color: var(--Orange70);
}

.orange50 {
    color: var(--Orange50);
}

.bg-orange50 {
    background-color: var(--Orange50);
}

.orange30 {
    color: var(--Orange30);
}

.bg-orange30 {
    background-color: var(--Orange30);
}

/* Design */
.bg {
    width: auto;
    height: 1024px;
    display: flex
}

.container {
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    width: auto;
    height: auto;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
}

.Top {
    width: auto;
    height: 80px;
    position: relative;
    border-bottom: 4px var(--Black50) solid;
    display: flex
}

.Logo {
    position: absolute;
    text-align: left;
    padding-top: 6px;
    display: flex;
}

.ToolBar {
    width: auto;
    height: 880px;
    position: relative;
}

.Footer {
    position: relative;
    text-align: center;
    display: flex
}

/* Icon */
.icon {
    padding: 4px;
    margin: 0px;
    border-radius: 8px;
    overflow: hidden;
    border: 4px #F0EFF4 solid;
}

.btn {
    margin: auto;
    padding: auto;
}

.btn-bd-primary {
    --bs-btn-color: var(--White100);
    --bs-btn-hover-color: var(--Pink50);
    --bs-btn-hover-bg: var(--Pink50);
    --bs-btn-active-color: var(--Pink100);
    --bs-btn-active-bg: var(--Pink100);
}

.btn-bd-secondary {
    --bs-btn-color: var(--White100);
    --bs-btn-hover-color: var(--White70);
    --bs-btn-hover-bg: var(--Orange70);
    --bs-btn-active-color: var(--Pink100);
    --bs-btn-active-border-color: var(--Orange100);
}